<%= simple_form_for (@donate_thing), remote: true do |f| %>
  <div class="form-group">
    <label for="">Tanggal Donasi : </label>
    <%= f.date_field :date_donate,  { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <label for="">Kategori : </label>
    <%= f.select :category, DonateThing.categories.keys, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :name, label: "Nama Barang", placeholder: "Nama Barang", required: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :donator, placeholder: "Donator", required: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :amount, label: "Jumlah Donasi", input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <label for="">Tambah Foto : </label>
    <%= f.file_field :image, label: "Foto", input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
